/* Add all variables here. */

:root {
    /* Colors */
    --color-blue: #0000ff;
    --color-green: #008000;
    --color-red: #ff0000;
    --color-yellow: #ffff00;
    --color-white: #fff;
    --color-black: #000;

    /* Add anything else, margins, paddings, whatever. */
}